@using Base.Models
@using BaseWeb.Models

<script type="text/javascript">
    $(function () {
        IS_SYS_Clock = false;
        SYS_ClickBlock = false;
        _me.init();
        _crud.onFind2();//進階查詢dislpay=none
        $('#show_Advanced_form2').hide();
    });

    var _me = {
        hasStaionStatus: false,
        hasSimulatioStatus: false,
        STView2Work_PageReload: false,
        hasStaionChangQTY: false,

        init: function () {
            //datatable config  DOCRole
            var config = {
                columns: [
                    { data: 'StationNO', orderable: true },
                    { data: 'PNO', orderable: true },
                    { data: 'TOTCount'},
                    { data: 'agv' },
                    { data: 'eCT' },
                    { data: 'customCT' },
                    { data: 'lowerCT', },
                    { data: 'upperCT', },
                ],
                columnDefs: [
                    //{
                    //    targets: [0], render: function (data, type, full, meta) {
                    //        return _crud.dtCheck0(full.Id);
                    //    }
                    //},

                ],
            };

            //init crud
            //_crud.DbKeyName = 'Id';
            _crud.init(config);
        },
    };
</script>

@await Component.InvokeAsync("XgProgPath", new { names = new string[] { "工站製造效能資訊" } })
<div class="xp-prog">
    <div id="divRead">
        <form id='formRead' class='xg-form'>
            <div class="row">
                @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "工站編號", Fid = "StationNO", Rows = (List<IdStrDto>)ViewBag.StationNO, InRow = true })
                @await Component.InvokeAsync("XgFindTbar", new XgFindTbarDto { HasReset = true, HasFind2 = true })
            </div>

        </form>
        <form id='formRead2' class='xg-form xg-mb0'>
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = "生產料號", Fid = "PNO", MaxLen = 50 })

        </form>

        <div class="xg-h10"></div>

        <table id="tableRead" class="table table-bordered xg-table" cellspacing="0">
            <thead>
                <tr>
                    <th>工站編號</th>
                    <th>生產料號</th>
                    <th>分析筆數</th>
                    <th>平均工時</th>
                    <th>實際工時</th>
                    <th>目標工時</th>
                    <th>最佳工時</th>
                    <th>最差工時</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>
