<script type="text/javascript">
    $(function () {
        IS_SYS_Clock = false;
        if (SYS_ClickBlock) { _fun.unBlock(); }
        SYS_ClickBlock = false;
    });
    var _me = {
        hasStaionStatus: false,
        hasSimulatioStatus: false,
        STView2Work_PageReload: false,
        hasStaionChangQTY: false,

    };
</script>
<table>
    <tr><td style='background-color:tomato;' col></td></tr>
</table>


<div class="xp-prog">
    @Html.Raw(ViewBag.HtmlOutput)
</div>
