@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script type="text/javascript">
    $(function () {
        IS_SYS_Clock = false;
        if (SYS_ClickBlock) { _fun.unBlock(); }
        SYS_ClickBlock = false;
        _me.init();
        _modal.hideO(_me.modalImport);

    });
    var _me = {
        hasStaionStatus: false,
        hasSimulatioStatus: false,
        STView2Work_PageReload: false,
        hasStaionChangQTY: false,
        init: function () {
            _me.modalImport = $('#modalImport');
        },
        onCommand: function (key) {
            var data = {
                ipport: _crud.LocalIPPort,
                type: key,
                arg: '',
            };
            _ajax.getStr('SetCommand', data, function (error) {
                if (!_str.isEmpty(error)) { _tool.msg(error); }
            });
        },
        onImportExcel: function (type) {
            $('#importType').val(type);
            _modal.showO(_me.modalImport);
        },
        onImportExcelII: function () {
            var modal = _me.modalImport;
            var fileObj = modal.find(':file');
            var file = _ifile.getUploadFile(fileObj);
            if (file == null) {
                _tool.msg('無匯入Excel檔案');
                return;
            }
            var setfileType = "";
            switch ($('#importType').val()) {
                case 'a':
                    setfileType = "ImportExcel_A"; break;
                case 'b':
                    setfileType = "ImportExcel_B"; break;
                case 'c':
                    setfileType = "ImportExcel_C"; break;
                case 'd':
                    setfileType = "ImportExcel_D"; break;
                case 'e':
                    setfileType = "ImportExcel_E"; break;
                case 'f':
                    setfileType = "ImportExcel_F"; break;
            }
            if (setfileType != "") {
                var formData = new FormData();
                formData.append('file', file);
                _ajax.getJsonByFormData(setfileType, formData, function (data) {
                    _modal.hideO(modal);
                    if (data.ErrorMsg != "") {
                        _tool.msg(_str.format(ata.ErrorMsg, data.OkCount, data.FailCount));
                    }
                    //_me.dt.reload();
                });
            }
        },
    }; //class

</script>

<input type='hidden' id='importType' value="" />
<button id='button_set0' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("a")'>客製 大正成品BOM</button>
<br />
<button id='button_set1' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("b")'>客製 大正成品BOM_第二版</button>
<br />
<button id='button_set2' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("c")'>客製 大正_原物料</button>
<br />
<button id='button_set3' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("d")'>客製 大正_機械倉_關聯料號</button>
<br />
<button id='button_set4' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("e")'>客製 大正_電子燈_關聯料號</button>
<br />
<button id='button_set3' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("f")'>客製 大正_半成品_3</button>
<br />
<button id='button_set3' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("f")'>客製 大正_成品_3</button>
<br />
<button id='button_set3' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("f")'>客製 大正_素材_3</button>
<br />
<button id='button_set3' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("f")'>客製 大正_採購半成品_3</button>
<br />
<button id='button_set3' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("f")'>客製 大正_採購成品_3</button>
<br />
<button id='button_set3' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("f")'>客製 大正_共應商_3</button>
<br />
<button id='button_set3' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("f")'>客製 大正_刀具資料</button>
<br />
<button id='button_set3' type='button' class='btn xg-btn' disabled onclick='_me.onImportExcel("f")'>客製 大正_庫存數量導入</button>
<br />





<!-- Excel匯入 -->
<div id='modalImport' class='modal fade'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h6 class='modal-title'>匯入Excel:</h6>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body' style="padding: 20px 0 30px 50px;">
                <input type="file">
                <div id="divMsg" style="color:blue; display:none"></div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary xg-btn-size xd-cancel' data-dismiss='modal'>取消</button>
                <button type='button' class='btn btn-primary xg-btn-size xd-yes' onclick='_me.onImportExcelII()'>匯入</button>
            </div>
        </div>
    </div>
</div>

